/**
 * Frontend styles for Mega Menu Column block
 */

.wp-block-elayne-mega-menu-column {
	// Width variants
	&.width-auto {
		flex: 1 1 auto;
	}

	&.width-1-2 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	&.width-1-3 {
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	&.width-2-3 {
		flex: 0 0 66.666%;
		max-width: 66.666%;
	}

	&.width-1-4 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	&.width-3-4 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	// Vertical alignment
	&.align-top {
		align-self: flex-start;
	}

	&.align-center {
		align-self: center;
	}

	&.align-bottom {
		align-self: flex-end;
	}

	// Add some padding for spacing
	padding: 16px;

	// Responsive: stack on mobile
	@media (max-width: 768px) {
		&[class*="width-"] {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
}
