/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-elayne-menu-designer {
	border: 1px dotted #f00;
}
